<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Please create your user profile to login:</h1>
      <fieldset>
        <form class="profile" action="/signup" method="post">
          <div class="username">
            <label for="username">Your Username</label>
            <input type="text" name="username" value="" placeholder="Enter your preferred usernamed">
          </div>
          <div class="password">
            <label for="password">Your Password</label>
            <input type="password" name="password" value="" placeholder="Enter your password">
          </div>
          <div class="submit">
            <input type="submit" name="submit" value="Submit">
          </div>
        </form>
      </fieldset>
  </body>
</html>
